	  /* ============= */
	 /* === RESET === */
	/* ============= */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {outline: 0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6, h7 {}
a, a:active, a:visited { color: inherit; text-decoration: none;}
a:hover {}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .clear { clear: both; }
.clearfix { zoom: 1; }

body,
input,
select,
textarea {
	font-family: Trebuchet MS, Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	color: #555;
}
body {
	background: #ccc url(background.jpg) center top fixed repeat-y;
}
#wrapper {
	width: 300px;
	height: auto;
	margin: 20px auto;
	background: #fff;
	-webkit-box-shadow: 0 5px 25px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 25px rgba(0,0,0,0.5);
	box-shadow: 0 5px 25px rgba(0,0,0,0.5);
}
.left {float: left;}
.right {float: right;}
.bold {font-weight: bold;Ã}
a, a:active, a:visited { color: #00A5A5; text-decoration: none;}
a:hover {}

p {
	margin: 10px 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.title {
	font-size: 16px;
}
			
#header {
	overflow: auto;
	padding: 20px;
}

#main {
	overflow: auto;
	padding: 0 20px 30px;			

	font-style: italic;
}

#footer {
	font-size: 10px;
	
	overflow: auto;
	padding: 20px;
	background: #eee;
}

			
			#formular {
				overflow: auto;
				padding: 20px;
				
				background: #eee;
				border-top: 3px solid #ccc;
				-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 30px 30px rgba(0,0,0,0.025);
				-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 30px 30px rgba(0,0,0,0.025);
				box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 30px 30px rgba(0,0,0,0.025);
			}
			.info {
				display: block;
				margin: 10px 0;
			}
			#name {
				background: #fff url(icon_name.png) right center no-repeat scroll;
				border: 1px solid #aaa;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 240px;
				height: 20px;
				padding: 8px;
				margin: 0 0 20px;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#email {
				background: #fff url(icon_email.png) right center no-repeat scroll;
				border: 1px solid #aaa;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 240px;
				height: 20px;
				padding: 8px;
				margin: 0 0 20px;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#location {
				background: #fff url(icon_location.png) right center no-repeat scroll;
				border: 1px solid #aaa;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 240px;
				height: 20px;
				padding: 8px;
				margin: 0 0 20px;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#locationSearch {
				margin: 0 0 20px;
				width: 250px;
				height: auto;
				display: none;
			}
			#map_canvas {
				border: 1px solid #aaa;
				margin: 0 0 10px;
				width: 252px;
				height: 248px;
			}
			#addressSearch {
				border: 1px solid #aaa;
				background: #fff;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				padding: 2px;
				margin: 0 10px 0 0;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#comment {
				border: 1px solid #aaa;
				background: #fff url(icon_comment.png) right top no-repeat scroll;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 240px;
				height: 90px;
				padding: 8px;
				margin: 0 0 5px;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#countdown {
				border: 1px solid #aaa;
				background: #fff;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 25px;
				height: 13px;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
				font-size:13px;
			}
			.small {
				font-size:13px;
				margin: 0 0 20px;
				display:block;
			}
			#value {
				border: 1px solid #aaa;
				background: #fff url(icon_dollar.png) left center no-repeat scroll;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				width: 100px;
				height: 20px;
				padding: 8px;
				text-align:right;
				-webkit-box-shadow: 0 1px 0 #fff;
				-moz-box-shadow: 0 1px 0 #fff;
				box-shadow: 0 1px 0 #fff;
			}
			#donate {
				font-size: 12px;
				font-style: italic;
				color: #036;
				
				border: 1px solid #f93;
				background: #fb4;
				-webkit-border-radius: 24px;
				-moz-border-radius: 24px;
				border-radius: 24px;
				width: 150px;
				height: 40px;
				padding: 8px;
				text-shadow: 0 1px 0 #fff;
				-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 20px 20px rgba(255,255,255,0.5);
				-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 20px 20px rgba(255,255,255,0.5);
				box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 20px 20px rgba(255,255,255,0.5);
			}
			.paypal {
				text-align: left;
				background: #fb4 url(logo_paypal_checkout.png) right center no-repeat scroll!important;
			}
			
			.nfl {
				display:block;
				width: 20px;
				height: 10px;
			}
			
			.hoccer {
				display:block;
				width: 80px;
				height: 19px;
			}
			
			.nfl img {
				position: absolute;
				margin:-20px 10px 0 0;
			}
			
			.nfl img {
				position: absolute;
				margin:-10px 10px 0 0;
			}
			#donate:active {
				-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 -20px 20px rgba(255,255,255,0.25);
				-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 -20px 20px rgba(255,255,255,0.25);
				box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff, inset 0 -20px 20px rgba(255,255,255,0.25);
			}
			
			#activity {
			background-color: rgba(0, 0, 0, 0.8);
			width : 100%;
			height: 230%;
			position: fixed;
			z-index: 99;
			left: 0%;
			top: 0%;
			color: #fff;
			display: none;
			}

			#process {
			position: absolute;
			left: 40%;
			top: 45%;
			width: 20%;
			height: 10%;
			text-align: center; 
			}

			#activityIndicator {
			position: relative;
			width: 130px;
			height: 130px;
			margin: 160px auto 0;
			-webkit-perspective: 500;
			-webkit-animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-webkit-animation-name: spinnerAnim2;
		}
		@-webkit-keyframes spinnerAnim2 {
			0% { -webkit-transform: rotate(360deg) scale(.29); }
			100% { -webkit-transform: rotate(0deg) scale(.29); }
		}
		#activityIndicator > div:first-of-type {
			margin-left: 58px;
			margin-top 0;
			width: 50%;
			height: 50%;
		}
		#activityIndicator .blade {
			position: absolute;
			height: 40px;
			width: 14px;
			-webkit-border-radius: 10px !important;
			background-color: rgba(255,255,255, .0);
			-webkit-transform-origin-x: 50%;
			-webkit-transform-origin-y: 165%;
		}
		
		#activityIndicator .blade:nth-child(2) {
			-webkit-transform: rotate(30deg);
			background-color: rgba(255,255,255, 1);
		}
		#activityIndicator .blade:nth-child(3) {
			-webkit-transform: rotate(60deg);
			background-color: rgba(255,255,255, .9);
		}
		#activityIndicator .blade:nth-child(4) {
			-webkit-transform: rotate(90deg);
			background-color: rgba(255,255,255, .8);
		}
		#activityIndicator .blade:nth-child(5) {
			-webkit-transform: rotate(120deg);
			background-color: rgba(255,255,255, .7);
		}
		#activityIndicator .blade:nth-child(6) {
			-webkit-transform: rotate(150deg);
			background-color: rgba(255,255,255, .6);
		}
		#activityIndicator .blade:nth-child(7) {
			-webkit-transform: rotate(180deg);
			background-color: rgba(255,255,255, .5);
		}
		#activityIndicator .blade:nth-child(8) {
			-webkit-transform: rotate(210deg);
			background-color: rgba(255,255,255, .4);
		}
		#activityIndicator .blade:nth-child(9) {
			-webkit-transform: rotate(240deg);
			background-color: rgba(255,255,255, .3);
		}
		#activityIndicator .blade:nth-child(10) {
			-webkit-transform: rotate(270deg);
			background-color: rgba(255,255,255, .2);
		}
		#activityIndicator .blade:nth-child(11) {
			-webkit-transform: rotate(300deg);
			background-color: rgba(255,255,255, .1);
		}
		#activityIndicator .blade:nth-child(12) {
			-webkit-transform: rotate(330deg);
			background-color: rgba(255,255,255, .05);
		}
			
